@using RollCallSystem.Client.Services;

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary btn-sm" disabled=@coffeeButtonDisabled @onclick="CoffeeClicked">Click me when you've had some coffee</button>
</div>
<div>

</div>
<div class="d-flex justify-content-center">
    <h4 class="text-center"> Attandance Broseph says: @response </h4>
</div>
@code {
    private string response = "No coffee today?";
    private int coffeesHad = 0;
    private bool coffeeButtonDisabled = false;
    private CoffeeTrackerService tracker = new CoffeeTrackerService();

    private void CoffeeClicked(){
        if(!tracker.GetRecommendation(coffeesHad, out response))
        {
            coffeeButtonDisabled = true;
        }

        InvokeAsync(StateHasChanged);
    }
}
