<div class="d-flex justify-content-center">
<h1>What colour of the marker to use today ?</h1>
</div>
<div class="d-flex justify-content-center">
<button type="button" class="btn btn-secondary btn-lg">Help me !</button>
</div>

<div class="d-flex justify-content-center">
<h2>Black</h2>
</div>

@code {

}
