@using RollCallSystem.Client.Services;

<div class="d-flex justify-content-center">
<button type="button" class="btn btn-secondary btn-sm" @onclick="Decide">Decide for me</button>
</div>

<div class="d-flex justify-content-center">
<h2>@colour</h2>
</div>

@code {
    private string colour;
    private PenPickerService picker = new PenPickerService();

    private void Decide()
    {
        colour = picker.Pick();

        InvokeAsync(StateHasChanged);
    }
}
