@using RollCallSystem.Client.Services;

<div class="d-flex justify-content-center">
  <input type="text" id="question" aria-label="Question" @bind="question" aria-describedby="inputGroup-sizing-sm" class="border border-secondary">
  <button id="spirit" type="button" class="btn btn-secondary btn-sm" @onclick="Decide">Contact the spirits</button>
</div>
<div class="d-flex justify-content-center">
<img class="img" src="images/magic-ball.png" alt="Magicball">
</div>
<div class="d-flex justify-content-center">
 

<h4 class="text-center">@answer</h4>
</div>


@code {
    private string answer;
    private string question = "";
    private MagicBallService ball = new MagicBallService();

    private void Decide()
    {
        if (ball.ValidateQuestion(question))
            answer = "Magic 8-Ball says: " + ball.ContactTheSpirits();
        else
            answer = "The spirits could not comprehend your question. Ask again.";

        InvokeAsync(StateHasChanged);
    }
}
