<div class="d-flex justify-content-center">
<h1>Do you need help in making decisions? </h1>
</div>
<div class="d-flex justify-content-center">
<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Ask</span>
  </div>
  <input type="text" class="form-control" aria-label="Question" aria-describedby="inputGroup-sizing-sm">
</div>
</div>
<div class="d-flex justify-content-center">
<img src="images/magic-ball.png" alt="Magicball">
</div>
<div class="d-flex justify-content-center">
<h2> Magic ball answer is: Nah !</h2>
</div>


@code {

}
