<!---Side Menu Start--->
    <div class="ms_nav_close">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <div class="ms_sidemenu_inner">
        <div class="ms_logo_inner">
            <div class="ms_logo">
                <a href="/"><img src="images/HQ.svg" alt="" class="img-fluid" /></a>
            </div>
            <div class="ms_logo_open">
                <a href="/"><img src="images/HQ.svg" alt="" class="img-fluid" /></a>
            </div>
        </div>
        <div class="ms_nav_wrapper">
            <ul>
                <li>
                    <a href="/Startrollcall" class="active" title="Start Roll Call">
                        <span class="nav_icon">
                            <span class="icon icon_discover"></span>
                        </span>
                        <span class="nav_text">
                            discover
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tracks" title="Tracks">
                        <span class="nav_icon">
                            <span class="icon icon_music"></span>
                        </span>
                        <span class="nav_text">
                            free music
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/allpackofsamples" title="Packofsamples">
                        <span class="nav_icon">
                            <span class="icon icon_albums"></span>
                        </span>
                        <span class="nav_text">
                            albums
                        </span>
                    </a>
                </li>
                @*<li>
            <a href="artist.html" title="Artists">
                <span class="nav_icon">
                    <span class="icon icon_artists"></span>
                </span>
                <span class="nav_text">
                    artists
                </span>
            </a>
        </li>*@
                @*<li>
            <a href="genres.html" title="Genres">
                <span class="nav_icon">
                    <span class="icon icon_genres"></span>
                </span>
                <span class="nav_text">
                    genres
                </span>
            </a>
        </li>*@
                @*<li>
            <a href="top_track.html" title="Top Tracks">
                <span class="nav_icon">
                    <span class="icon icon_tracks"></span>
                </span>
                <span class="nav_text">
                    top tracks
                </span>
            </a>
        </li>*@

                @*<li>
            <a href="stations.html" title="Stations">
                <span class="nav_icon">
                    <span class="icon icon_station"></span>
                </span>
                <span class="nav_text">
                    stations
                </span>
            </a>
        </li>*@
            </ul>
            <ul class="nav_downloads">
                @*<li>
                    <a href="download.html" title="Downloads">
                        <span class="nav_icon">
                            <span class="icon icon_download"></span>
                        </span>
                        <span class="nav_text">
                            downloads
                        </span>
                    </a>
                </li>*@
                @*<li>
                    <a href="/purchase" title="Purchased">
                        <span class="nav_icon">
                            <span class="icon icon_purchased"></span>
                        </span>
                        <span class="nav_text">
                            purchased
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/favourite" title="Favourites">
                        <span class="nav_icon">
                            <span class="icon icon_favourite"></span>
                        </span>
                        <span class="nav_text">
                            favourites
                        </span>
                    </a>
                </li>*@
                @*<li>
                    <a href="history.html" title="History">
                        <span class="nav_icon">
                            <span class="icon icon_history"></span>
                        </span>
                        <span class="nav_text">
                            history
                        </span>
                    </a>
                </li>*@
            </ul>
            @*<ul class="nav_playlist">
                <li>
                    <a href="feature_playlist.html" title="featured playlist">
                        <span class="nav_icon">
                            <span class="icon icon_fe_playlist"></span>
                        </span>
                        <span class="nav_text">
                            featured playlist
                        </span>
                    </a>
                </li>
                <li>
                    <a href="add_playlist.html" title="create playlist">
                        <span class="nav_icon">
                            <span class="icon icon_c_playlist"></span>
                        </span>
                        <span class="nav_text">
                            create playlist
                        </span>
                    </a>
                </li>
            </ul>*@
        </div>
    </div>

@code {

}

