@page "/FunandGames"

<div class="ms_content_wrapper padder_top90">
    <h1 class="text-center"> Fun & convenient tools <i class="bi bi-controller"></i> </h1>
    <blockquote class="blockquote text-center">
  <p class="mb-0">Are you bored or just need a little break ? Let us entertain you with set of tools you will love. </p>
</blockquote>
<p/>
<p/>
    <div class="container">
  <div class="row">
    <div class="col-6">
   <div class="card">
  <h5 class="card-header">What color of marker should I use ?</h5>
  <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <Pen/>
  </div>
</div>
    </div>
    <div class="col-6">
        <div class="card">
  <h5 class="card-header">Should I get more coffee?</h5>
  <div class="card-body">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <Coffee/>
  </div>
</div>
    </div>
  </div>

  <div/>

   <div class="row">
    <div class="col-6">
         <div class="card">
  <h5 class="card-header">Do you need help in making decisions?</h5>
  <div class="card-body">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <Questions/>
    </div>
    </div>
    </div>
    <div class="col-6">
        <div class="card">
  <h5 class="card-header">Your personal calculator</h5>
  <div class="card-body">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p
       <Calculator/>
    </div>
  </div>
</div>
</div>
    @*<Pen/>
    <Coffee/>
    <Questions/>
    <Calculator/>*@
</div>
</div>

@code {

}
