@page "/FunandGames"

<div class="ms_content_wrapper padder_top90">
    <h1 class="text-center"> Tools for your convenience <!--i class="bi bi-controller"></i>--> </h1>
    <blockquote class="blockquote text-center">
  <p class="mb-0"> A collection of the most useful tools a teacher could ever dream of. </p>
</blockquote>
<p/>
<p/>
    <div class="container">
  <div class="row">
    <div class="col-6">
   <div class="card">
  <h5 class="card-header">Marker Colour Picker</h5>
  <div class="card-body">
      <p class="card-text">Picking the correct marker colour to use can be a grueling task. We'll take care of it for you.</p>
    <Pen/>
  </div>
</div>
    </div>
    <div class="col-6">
        <div class="card">
  <h5 class="card-header">Coffee Tracker</h5>
  <div class="card-body">
    <p class="card-text">No need to bother with remembering how much coffee you've had. Your Attendance Broseph will take care of that.</p>
    <Coffee/>
  </div>
</div>
    </div>
  </div>

  <div/>

   <div class="row">
    <div class="col-6">
         <div class="card">
  <h5 class="card-header">Magic 8-Ball</h5>
  <div class="card-body">
    <p class="card-text">Need to contact the spirits for answers? Look no further! Ask away.</p>
      <Questions/>
    </div>
    </div>
    </div>
    <div class="col-6">
        <div class="card">
  <h5 class="card-header">Personal Calculator</h5>
  <div class="card-body">
    <p class="card-text">Life is too short to do maths. Let us do it for you.</p>
       <Calculator/>
    </div>
  </div>
</div>
</div>
    @*<Pen/>
    <Coffee/>
    <Questions/>
    <Calculator/>*@
</div>
</div>

@code {

}
