@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>
<h1>Hello </h1>
<h1>@theTime</h1>
<h1>SDW22</h1>
<button type="button" class="btn btn-secondary btn-lg" @onclick="NavigateToCounterComponent">Start Roll Call</button>

<h1>The Roll Call started at</h1>
<h1>The Roll Call will finish</h1>


@code {

    //GetCurrentUser
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
   
    //After button click
     private void NavigateToCounterComponent() 
     { NavigationManager.NavigateTo("counter");
     } 
    
    //Timer
    string theTime;    
    Timer aTimer;

    protected override void OnInitialized()
    {
        aTimer = new Timer(Tick, null, 0, 1000);        
    }

    private void Tick(object _)
    {
        theTime = DateTime.Now.ToLongTimeString();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        aTimer?.Dispose();
    }
}
